@font-face {
    font-family: 'Quicksand';
    src: url('templatebox_assets\Quicksand.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



/* CSS RESET // asterik selects ALL elements on page
Different browsers have different default margin, padding, and box-sizing behaviors. By using this rule, you’re standardizing the appearance of all elements.
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Optional: helps manage sizing */
}



html {
	width: 100%; /*entire width of viewport*/
	height: 100vh; /*entire height of viewport*/
	font-family: 'Quicksand';
	overflow: hidden;
	background: #279fa5;
	color: #ffffff;
}

h1 {
	position: absolute;
	top: 8%;
	left: 48%;
	transform: translateX(-50%);
	font-size: 15px;
}